body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.score-sheet {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.score-sheet h1 {
  font-size: 1.5em;
  color: #000000;
  margin-bottom: 15px;
}

.score-sheet p {
  font-size: 0.9em;
  margin: 5px 0;
  font-weight: bold;
}
.left-align {
  text-align: left;
  margin-left: 10px;
}
.criteria {
  margin: 20px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.row span {
  font-size: 0.9em;
  color: black;
  flex: 1;
  text-align: left;
}

.row input {
  width: 100px;
  padding: 5px;
  border: 1px solid rgb(25, 136, 173);
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.total span {
  font-size: 1em;
  color: black;
}

.total input {
  width: 100px;
  padding: 5px;
  border: 1px solid rgb(25, 136, 173);
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.feedback {
  text-align: left;
  margin-bottom: 20px;
}

.feedback label {
  font-size: 0.9em;
  color: black;
  display: block;
  margin-bottom: 5px;
}

.feedback textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid rgb(25, 136, 173);
  border-radius: 5px;
  background-color: white;
}

.save-btn {
  background-color: rgb(52, 182, 230);
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.save-btn:hover {
  background-color: rgb(25, 136, 173);
}
